label{cursor: pointer;}

input[type="text"],input[type="tel"],input[type="email"],input[type="password"],textarea{
	display: inline-block;
	font-family: $font;
	font-size: 14px;
	line-height: 1.3;
	-webkit-appearance: none;
	border: 1px solid #666;
	padding: 5px 10px;
	overflow: visible;

	@include placeholder {
		font-size: 14px;
		color: #A8A8A8;
		opacity: 1;
		transition: all 0.3s ease;
	}

	&:focus{
		outline: none;
		@include placeholder {
			opacity: 0;
		}
	}
}



//style-checkbox
.style-checkbox{
	display: block;
	position: relative;
	cursor: pointer;
	margin-bottom: 15px;
	font-size: 12px;

	input{
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;

		&:checked + span{
			&:after{
				opacity: 1;
			}
		}

		&.error + span{
			&:before{
				border-color: #cc0000;
			}
		}
	}

	span{
		display: block;
		position: relative;
		padding-left: 30px;

		&:before{
			content: '';
			width: 20px;
			height: 20px;
			border: 2px solid #353434;
			position: absolute;
			left: 0;
			top: 0;
			transition: all 0.3s ease;
		}

		&:after{
			content: '';
			width: 20px;
			height: 20px;
			background: #353434;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
			opacity: 0;
			transition: opacity 0.3s ease;
		}

		a{
			color: #353434;
		}
	}
}
//style-checkbox