label{cursor: pointer;}

input[type="text"],input[type="tel"],input[type="email"],input[type="password"],textarea{
	display: inline-block;
	font-family: $font;
	font-size: 14px;
	line-height: 1.3;
	-webkit-appearance: none;
	border: 1px solid #666;
	padding: 5px 10px;
	overflow: visible;

	@include placeholder {
		font-size: 14px;
		color: #A8A8A8;
		opacity: 1;
		transition: all 0.3s ease;
	}

	&:focus{
		outline: none;
		@include placeholder {
			opacity: 0;
		}
	}
}