.modal{
	display: none;
	width: 500px;
	max-width: 100%;
	transition: transform 0.4s ease,opacity 0.4s ease;
	transform: translateY(-60px) scale(1.1);
	opacity: 0;
	will-change: transform,opacity;
	overflow: visible;
}

.fancybox-slide--current {
	.modal {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

.fancybox-is-closing{
	.modal {
		transform: scale(1.1);
		opacity: 0.5;
	}
}


