.modal{
	display: none;
	width: 500px;
	max-width: 100%;
	will-change: transform,opacity;
	overflow: visible !important;

	.fancybox-close-small{
		@include cross();
	}
}

.fancybox-slide--current {
	.modal {

	}
}

.fancybox-is-closing{
	.modal {

	}
}

.fancybox-bg{
	background: #8c8e9a;
}

.fancybox-container .fancybox-close-small{
	@include cross();
}

.fancybox-slide--iframe .fancybox-content{
	width: 90%;
	height: 90%;
	max-width: calc(100% - 20px);
	max-height: calc(100% - 40px);
	@include res(s){
		width: 100%;
	}
}