.modal{
	display: none;
	width: 500px;
	max-width: 100%;
	will-change: transform,opacity;
	overflow: visible !important;
}

.fancybox-slide--current {
	.modal {

	}
}

.fancybox-is-closing{
	.modal {

	}
}

.fancybox-bg{
	background: #8c8e9a;
}

.fancybox-close-corner{
	@include cross();
}

.fancybox-slide--iframe .fancybox-content{
	width: 90%;
	height: 85%;
	max-width: calc(100% - 40px);
	max-height: calc(100% - 40px);
	@include res(s){
		width: 100%;
		max-width: calc(100% - 10px);
	}
}